obj/x86/Debug/APIUI.csproj.FileListAbsolute.txt
obj/x86/Debug/APIUI.csproj.GenerateResource.Cache
obj/x86/Debug/APIUI.exe
obj/x86/Debug/APIUI.Form1.resources
obj/x86/Debug/APIUI.pdb
obj/x86/Debug/APIUI.Properties.Resources.resources
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/TempPE/hspp1devo3DataSet.Designer.cs.dll
bin/Debug/APIUI.exe
bin/Debug/APIUI.exe.config
bin/Debug/APIUI.pdb
bin/Debug/APIUI.vshost.exe
bin/Debug/APIUI.vshost.exe.config
bin/Debug/APIUI.vshost.exe.manifest
