<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APIUI.Properties.Settings.hspp1devo3ConnectionString"
            connectionString="Data Source=Ecin1devo1sql1.ecbrands.com;Initial Catalog=hspp1devo3;Persist Security Info=True;User ID=hspp1devo1;Password=9oCMt6uObSIVvMvcJGPz"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>