<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APIUI.Properties.Settings.hspp1devo3ConnectionStringDev"
            connectionString="Data Source=Ecin1devo1sql1.ecbrands.com;Initial Catalog=hspp1devo3;Persist Security Info=True;User ID=hspp1devo1;Password=9oCMt6uObSIVvMvcJGPz"
            providerName="System.Data.SqlClient" />
        <add name="APIUI.Properties.Settings.hspp1devo3ConnectionStringLive"
            connectionString="Data Source=hspp1prod1sql2.ecbrands.com;Initial Catalog=hspp1prod2;Persist Security Info=True;User ID=hspp1prod;Password=dBTO7GgUdHSGFG9p"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>